@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-crema text-gray-700 font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-hand text-gray-800;
  }
}
